BasedOnStyle: LLVM
UseTab: AlignWithSpaces
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
ColumnLimit: 100
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
